/* body {
     background-color: lightgrey;
     background-image: url("../images/index.jpg");
} */

body {
    background-color: lightgrey;
    background-image: url("/assets/images/index.jpg");
}

h2 {
    color: orangered;
}

p {
    font-weight: bold;
}